.tag {
  display: inline-block;
  background-color:orange;
  color: white;
  font-size: 12px;
  padding: 5px 6px;
  border: 1px solid transparent;
  margin: 2px 5px 2px 0;
  line-height: 1;
  white-space: nowrap;
  border-radius: 3px;

  &:active {
    color: rgb(236, 155, 5);
  }

  &:hover {
    color: white;
    background-color: orange;
    border-color: transparent;
  }
}

.multiplier {
  color: var(--black-400);
}

.count {
  color: var(--black-500);
  font-size: 11px;
}